.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#shedule {
    text-align: center;
    margin-left: 200px;
    padding-right: 100px;
}
#address {
    padding-top: 10px;
}
.formandmap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
fieldset {
    width: 400px;
    border-radius: 10px;
}
