.contact {
    display: flex;
    justify-content: space-between;
}
#shedule {
    margin-left: 200px;
}
.formandmap {
    display: flex;
    justify-content: space-between;
}
fieldset {
    width: 400px;
    border-radius: 10px;
}
