body{
    max-width: 970px;
    margin: 10px auto;
    background-color: #FFEBCD;
    text-align: center;
}
.container {
    padding-top: 2px;
}
h1 {
    color: 	#800080;
    font-size: 40px;
    font-family:'Lobster', cursive;
    border-bottom: 2px solid black;
}
#logo1 {
    width: 550px;
    height: 300px;
}

.navigation {
    position: relative;
    overflow: auto;
    float: left;
    word-spacing: 1em;
    text-decoration: none;
    font-size: 20px;
    font-family:'Lobster', cursive;
}
h2 {
    color: 	#800080;
}
#salon {
    margin-top: 10px;
    float: right;
    width: 700px;
    font-family: 'Lobster', cursive;
}
h5 {
    color: #800080;
}
.footer_me {
    padding-top: 1px;
    font-size: 12px;
}


